*
  margin 0
  padding 0
  color inherit
  -webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

  &, &:before, &:after
    box-sizing inherit

html
  box-sizing border-box

body
  font-family 'Roboto', sans-serif

h1, h2, h3, h4, h5
	display block
	font-weight 400

li, span, p, a, h1, h2, h3, h4, h5
	line-height 1

a
	text-decoration none

	&:hover
		text-decoration underline
